@{
    ViewBag.Title = "Monthly Expenses";
    Layout = "~/Views/Shared/Home_Page_Layout.cshtml";

}
<div class="jumbotron text-center">
    <h2>Monthly Expenses Calculation</h2>
</div>
<div class="" style="justify-content:center">
    <form>
        <div class="form-group">
            <label for="grossincome">Gross Income</label>
            <input type="text" class="form-control" id="GrossIncome" aria-describedby="grossInput" placeholder="Enter gross income">
        </div>
        <div class="form-group">
            <label for="grossincome">Monthly Tax</label>
            <input type="text" class="form-control" id="MonthlyTax" aria-describedby="grossInput" placeholder="Enter Gross after tax deductions">
        </div>
        <div class="form-group">
            <label for="grossincome">utilities</label>
            <input type="text" class="form-control" id="Utilities" aria-describedby="grossInput" placeholder="Enter Utilities">
        </div>
        <div class="form-group">
            <label for="grossincome">Travel Cost</label>
            <input type="text" class="form-control" id="TravelCost" aria-describedby="grossInput" placeholder="Enter Travel Cost">
        </div>
        <div class="form-group">
            <label for="grossincome">Phone Bill</label>
            <input type="text" class="form-control" id="PhoneBill" aria-describedby="grossInput" placeholder="Enter Phone Bill">
        </div>
        <div class="form-group">
            <label for="grossincome">Other Expenses</label>
            <input type="text" class="form-control" id="OtherExpenses" aria-describedby="grossInput" placeholder="Enter Other Expenses Total">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>





